{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'blog/register.css' %}">
<div class="user-l">
    <form method="POST" action=''>
        {% csrf_token %}
        <div class="other">
            <h1>REGISTER!</h1>
    
    <div class="user-name">
        <p class="usr">Username<p>
        <!--input type="text" id="username" placeholder="Enter the Username!" name="usr"-->
        {{form.username}}
    </div>

    <div class="email">
        <p class="usr">Email Address</p>
        <!--input type="email" id="username" placeholder="Enter your email id"-->
        {{form.email}}
    </div>
    
    <div class="user-pwd">
        <p class="usr">Password<p>
        <!--input type="password" name='pwd' placeholder="Enter the Password!" id="password"-->
        {{form.password1}}
    </div>


    <div class="user-pwd">
        <p class="usr">Confirm Password<p>
        <!--input type="password" name='pwd' placeholder="Enter the Password Again!" id="password"-->
        {{form.password2}}
    </div>

    {{form.errors}}

    <div class="lg-btn1">
        <input type="submit" value="Register!" >
    </div>

    <div class="sup">
        <p>Already Registered?<span><a href="{% url 'blog:login' %}">Log In!</a></span></p>
    </div>
{% endblock content %}